---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---



<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a Quality Assurance Engineer with three years of experiecnce and the wirld-wide ISTQB Certificate. I care for all quality
    aspects, from examining detailed requirements to analyzing complex logs. My curiosity drives me to look for critical edge cases
    that make the software solid and reliable. I'm resilient and love learning with a can-do attitude, while also collaborating with 
    others but also working independently. Therefore, I''m a people's person with a strong work ethic and soft skills, and I can find 
    bugs without making developers mad 😉 .
  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Relevant Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Information Technology"
      subtitle={"2016 to 2022 at <b>Universidade Eduardo Mondlane </b> , Maputo, Mozambique"}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="http://scr.istqb.org/?name=Marco&number=MZ010124JP0411030&orderBy=relevancy&orderDirection=&dateStart=&dateEnd=&expiryStart=&expiryEnd=&certificationBody=&examProvider=&certificationLevel=&country=" target="_blank"> ISTQB Foundation Level CTFL v4.0</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Agile Methodologies</li>
    <li>Test Management</li>
    <li>Test Automation</li>
    <li>API Testing</li>
    <li>Test Planning</li>
    <li>Test Execution</li>
    <li>SQL Databases</li>
    <li>NoSQL Databases </li>
    <li>Frotend Testing</li>
    <li>Performance Testing</li>
    <li>Mobile Testing</li>
    <li>CI/CD</li>
    <li>SDLC</li>
    <li>STLC</li>
    <li>Software Quality Assurance</li>
  </ul>
</BaseLayout>
